@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Verdana, sans-serif;
}

html,
body {
  height: 100vh;
}

.wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.btn-create {
  padding: 12px 24px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #2ee59d;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-create:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

video {
  margin: 0 24px;
  border-radius: 12px;
  border: 1px solid #2ee59d;
  padding: 4px;
}

.nav-feature {
  position: absolute;
  bottom: 0;
  margin-bottom: 32px;
  background-color: black;
  padding: 12px 24px;
  color: #000;
  background-color: #2ee59d;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.nav-feature button {
  cursor: pointer;
  outline: none;
  margin: 0 32px;
  border: none;
  background-color: transparent;
  align-content: center;
  transition: all 0.3s ease 0s;
  font-size: 1em;
}

.nav-feature button:hover {
  color: #fff;
}

i {
  margin: 0 8px;
}
